*{
    box-sizing: border-box;      
}
body{
	font-size: 30px;
	background-color: #FF7F50;
}
header{
	font-size: 175%;
	text-align: center;
	margin-bottom: 20px;
}
section{
	background-color: #00FFFF;
	border: 1px solid black;
	padding: 0px;
	text-align: justify;
	height: 200px;
}
h1{
	float: right;
	font-size: 125%;
	display: block;
	border:1px solid black;
	padding: 10px;
	text-align: center;
	margin:0px;
	width: 200px;
	

}

.section1>h1{
	background-color: #90EE90;
}

.section2>h1{
	background-color: red;
}
.section3>h1{
	background-color: #DEB887;
}
div{
	clear:right;
	padding: 20px;
}
.col-md-2{
	margin: 40px;

}
.col-md-3{
	margin: 40px;
}